<html>
    <head><title>Django Girls Blog</title></head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published:01.27.2021, 07:30</p>
            <h2><a href="/">My first post</a></h2>
            <p>Aenen eu leo quam.</p>
        </div>
        <div>
            <p>published:01.27.2021, 07:30</p>
            <h2><a href="/">My second post</a></h2>
            <p>Aenen eu leo quam.</p>
        </div>
    </body>
</html>